.footer {
	width: 100%;
	height: 75px;
	z-index: 2;
	position: absolute;
	background-color: #01579b;
}

ul.nav_footer > li {
		line-height: 75px;
		list-style: none;
	}
ul.nav_footer > li > a {
			text-decoration: none;
			margin: 0 15px;
			color: #fff;
		}
ul.nav_footer > li > a:hover {
			text-decoration: underline;
		}



@media screen and (max-width: 810px) {
	.footer{
		height: 37px;
		text-align: center;
	}
	ul.nav_footer > li {
		line-height: 37px;
	}
}