div.nav {
	font-weight: bold;
	z-index: 2;
	display: block;
	position: fixed;
	top: 75px;
	bottom: 0;
	left: 0;
	width: 175px;
	padding-top: 20px;
	border-right: 1px solid #c3c3c3;
	background-color: #f2f2f2;
}

ul.nav li {
		line-height: 40px;
		list-style: none;
	}
ul.nav a {
			text-decoration: none;
			margin: 0 15px;
		}
ul.nav a:hover {
			text-decoration: underline;
		}

ul.subnav{
	font-weight: initial;
	margin: 0 30px;
}

@media screen and (max-width: 810px) {
	div.nav {
		display: none;
		top: 37px;
	}
	body.shownav div.nav {
		display: block;
	}
}